.header{
  display: flex;
  align-items: center;
}

.title {
	font-size: 1.8rem;
}

.header a{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
}

.header .title-group{
  padding-left: 25px;
}

.header .title-group i{
  padding-right: 5px;
}